<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Customer Name (optional)</label>
            <input type="text" class="form-control" name="customer_name" placeholder="e.g. PSALMS FOODS INDs">
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3">
            <label class="form-label">Order / Job Name (optional)</label>
            <input type="text" class="form-control" name="order_name" placeholder="e.g. Tomato Crisps 12g">
        </div>
    </div>
</div>
