<hr>
<div class="row">
    <div class="col-md-4">
        <div class="mb-3">
            <label class="form-label">Machine (optional)</label>
            <select class="form-select" name="machine_name">
                <option value="">Select Machine</option>
                <optgroup label="HCI">
                    <option value="HCI_01">HCI 01</option>
                    <option value="HCI_02">HCI 02</option>
                </optgroup>
                <option value="BIMEC">Bimec</option>
                <optgroup label="Nissi">
                    <option value="NISSI_02">Nissi 02</option>
                    <option value="NISSI_03">Nissi 03</option>
                </optgroup>
                <option value="FADIA">Fadia</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <label class="form-label">Customer Name (optional)</label>
            <input type="text" class="form-control" name="customer_name" placeholder="e.g. BRITANNIA">
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <label class="form-label">Order / Job Name (optional)</label>
            <input type="text" class="form-control" name="order_name" placeholder="e.g. Glucose Biscuits">
        </div>
    </div>
</div>
